<article class="post mt-3">
  <div class="title">
    <div class="card">
  <div class="card-body">
    <h5 class="card-title"><a href="/post/{{id}}">{{title}}</a></h5>
    <h6 class="card-subtitle mb-2 text-muted">by {{user.username}} on {{format_date created_at}}</h6>
    <p class="card-text">{{post_content}}</p>
