<article class="post">
  <div class="title">
    <div>
        <h2>{{title}}</h2>
        <p>{{post_content}}</p>
    </div>
  </div>
  <div class="meta">
    by {{user.username}} on
    {{format_date created_at}}
    |
    <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
  </div>
</article>